FirstName`,`id`,`LastName`,`Address`,`Email`,`Phone`,`Twitter`,`Instagram`,`Linkedin`,`Whatsapp`,`NextofKin`,`EmergencyNum`,`Github`,`SpeacialNeeds`,`Allergies`,`Track`,`MiddleName`
":""

"FirstName":"Idris",
"MiddleName":"Chikunyere",
"LastName":"Adewale",
"Address":"123 Myhome Street, MyCiti, Lageria",
"Email":"id_chk@yahoo.com",
"Phone":"090123456789",
"Twitter":"@prince_chuks",
"Instagram":"",
"Whatsapp":"",
"Linkedin":"citye@linkedin.com",
"NextofKin":"Alhaja Ummi Jones",
"EmergencyNum":"090123456789",
"Github":"freddie@linkedin",
"SpeacialNeeds":"",
"Allergies":"",
"Track":"frontend",
