@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "montserrat";
    background: radial-gradient(lavender, lavender, lightblue);
    font-weight: 500;
    line-height: 1.4;
}

form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    box-sizing: border-box;
    border: 2px solid #333;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: 0 2px 12px 5px rgba(119, 119, 119, 0.473);
}

form>div {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

input,
select {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}

input:focus,
select:focus {
    outline: none;
    border: 0.0625rem solid blue;
    color: blue;
}

select {
    height: 3.4rem;
}

main>div:first-child {
    grid-column: 1/-1;
}

main div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

label {
    /* text-transform: uppercase; */
    font-size: 1.4rem;
}

button {
    padding: 1rem;
    width: fit-content;
    align-self: center;
    padding: 1.5rem 3rem;
    margin-top: 3rem;
    font-size: 1.4rem;
    /* background: radial-gradient(plum 50%, lavender 70%, transparent 90%); */
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 2px 2px lightblue;
    cursor: pointer;
}

button:focus {
    background: radial-gradient(lightblue 80%, transparent 90%);
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 2px 2px lightblue;
}

@media (max-width: 904px) {
    html {
        font-size: 62.5%;
        overflow-y: scroll;
    }
    form {
        width: 80vw;
    }
}

@media (max-width: 708px) {
    html {
        font-size: 50%;
        overflow-y: scroll;
    }
    form {
        width: 100vw;
    }
    main {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}